<table id="listChamps">
  <thead >
    <tr>
      <th></th>
      <th>Year of Championship</th>
      <th>Name of the Champion of the year</th>
      <th>Wins Season</th>
    </tr>
  </thead>
  <tbody>
    <tr class="item" id="driversL" data-ng-repeat="driver in Driver.drivers ">
      <td></td>
      <td><a href="#/drivers/{{ driver.season }}/{{ driver.DriverStandings[0].Driver.driverId }}"> {{ driver.season }} </a></td>
      <td><a href="#/drivers/{{ driver.season }}/{{ driver.DriverStandings[0].Driver.driverId }}">{{ driver.DriverStandings[0].Driver.givenName }} {{ driver.DriverStandings[0].Driver.familyName}} </a></td>
      <td><a href="#/drivers/{{ driver.season }}/{{ driver.DriverStandings[0].Driver.driverId }}">{{ driver.DriverStandings[0].wins }}</td>
    </tr>
  </tbody>
</table>
